@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 240 5.9% 90%;
    --ring: 240 5.9% 10%;

    --focusly-bg: #fafafa;
    --focusly-text-primary: #1a1a1a;
    --focusly-text-secondary: #666666;
    --focusly-gradient: linear-gradient(to bottom left, #f5f5f5, #fafafa, #fff, #f0f0f0);
    --focusly-gradient-hover: linear-gradient(to bottom left, #333, #222, #111, #1a1a1a);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --border: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --focusly-bg: #121214;
    --focusly-text-primary: #f8f8fc;
    --focusly-text-secondary: #9e9e9f;
    --focusly-gradient: linear-gradient(to bottom left, #121214, #111, #000, #1a1a1a);
    --focusly-gradient-hover: linear-gradient(to bottom left, #333, #f9f9f9, #f2f2f2, #ececec, #e6e6e6);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
